<!DOCTYPE html>
<html xmlns="http://thymeleaf.org">
<head>
    <title>youReview</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="flex justify-center items-center flex-col pt-10">
<button class="p-2 rounded-md bg-blue-500 text-white absolute right-1 top-1">Logout</button>
<p class="font-bold text-[30px]">List of Claimes</p>
<!-- list of reviews -->
<div class="w-1/2 flex flex-col gap-6 mt-10">
    <!-- review -->
    <div class="flex flex-col gap-3">
        <p>Title"claimers"</p>
        <p>
            Message - <sub>time</sub> 😁
        </p>
        <div class="flex gap-2">
            <button class="p-2 text-white bg-red-600 rounded-md">delete</button>
        </div>
    </div>
</div>
</body>
</html>