<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>youReview</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="flex justify-center items-center flex-col pt-10">
    <form name="logoutForm" th:action="@{/logout}" method="post">
        <button type="submit" value="Sign Out"
            class="p-2 rounded-md bg-blue-500 text-white absolute right-1 top-1">Logout</button>
    </form>
    <p th:text="${username}">user</p>
    <a href="/addreview" class="p-2 text-white bg-green-500 rounded-md">Add Review</a>
    <p class="font-bold text-[30px]">List of Reviews</p>
    <!-- list of reviews -->
    <div th:each="review : ${reviews}" class="w-1/2 flex flex-col gap-6">
        <!-- review -->
        <div class="flex flex-col gap-3">
            <p th:text="${review.Title}">Title</p>
            <p>
                <span th:text="${review.message}">Title</span> - <sub th:text="${review.date}">time</sub> 😁
            </p>
            <div class="flex gap-2">
                <a class="p-2 text-white bg-red-500 rounded-md">make a calim</a>
                <a th:if="${review.user == username or role == 'ROLE_ADMIN'}" th:href="@{'/editreview/' + ${review.id}}"
                    class="p-2 text-white bg-orange-500 rounded-md">edit</a>

                <a th:if="${review.user == username or role == 'ROLE_ADMIN'}"
                    th:href="@{'/deletereview/' + ${review.id}}" class="p-2 text-white bg-red-600 rounded-md">delete</a>

            </div>
        </div>
    </div>
</body>

</html>